.header {
    text-align: center;
}

.windowList {
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskList {
    padding-left: 10px;
    padding-top: 10px;
    height: 100%;
    overflow: auto;
}

.buttonInputDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: space-between;
}

.buttonNewTask {


}

.inputTask {
    width: 450px;
    height: 25px;
}

.task {
    font-family: monospace;
    font-size: 20px;
}
